.container-fluid{
    position: fixed; /* this line */
    display: inline-flex;
    background-image: url(/public/images/8.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    background-size: cover;
    height: 100vh;
    width: 100%;
    padding: 0;
}
.b{
    position: relative;
    width:10px;
    border-bottom: 5px solid white;
    padding: 0 0 10px;
    margin-bottom: 2rem;
   

}
thead{
    background: rgba(196, 196, 196, 1);
    
}
.text-modal{
    position: relative;
    text-align: center;
    margin: 2rem 0rem 4rem 2rem;
}
.button30{
    position: relative;
    left:-10rem;
    border: 1px solid transparent;
    border-radius: 2rem;
    
    padding:10px 2rem 10px 2rem;
    background-color: #C4C4C4;
}
.button31{
    position: relative;
    left:-3rem;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 2rem;
    color: black;
    padding:10px 2rem 30px 2rem;
    background-color: #C4C4C4;
}